<header class="main-header" id="main-header">
<div class="content">

  {{#is "home"}}
  {{#if @site.logo}}
    <div class="main-header__logo">
      <a href="{{@site.url}}">
        <img src="{{@site.logo}}" alt="{{@site.title}} Logo" />
      </a>
    </div>
  {{/if}}

  <div class="main-header__text-container">
    <h1 class="main-header__blog-title">
      <a href="{{@site.url}}">{{@site.title}}</a>
    </h1>

    <p class="content-narrow">
    Hi, I'm Rakhim. I teach, program, make podcasts, comics and videos on computer science at <a href="https://codexpanse.com">Codexpanse.com</a>. You can learn more about <a href="/about">my work</a> and even <a href="https://www.patreon.com/rakhim">support me</a> via Patreon.
  </p>

  <p>
    <form
        action="https://buttondown.email/api/emails/embed-subscribe/rakhim"
        method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/rakhim', 'popupwindow')"
        class="embeddable-buttondown-form" >
      <label for="bd-email">Oh, and I have a monthly non-spammy personal newsletter: </label>
      <input type="email" name="email" id="bd-email">
      <input type="hidden" value="1" name="embed"/>
      <input type="submit" value="Subscribe" />
    </form>
  </p>
  </div>
  {{/is}}

  <nav class="site-nav">
    {{navigation}}

    {{#if @labs.members}}
      {{#if @member}}
      <ul>
        <li>
          <a href="{{@site.url}}/account">Account</a>
        </li>
        <li>
          <button role="link" data-members-signout>Sign out</button>
        </li>
      </ul>
      {{else}}
      <ul>
        <li>
          <a href="{{@site.url}}/signin">Log in</a>
        </li>
        <li>
          <a href="{{@site.url}}/signup">Subscribe</a>
        </li>
      </ul>
      {{/if}}
    {{/if}}
  </nav>
  <hr>

  <div hidden class="notification-area" id="notifications">
  </div>
</div>
</header>
